@model IEnumerable<SalesWebMVC.Models.Entities.Department>
@{
    ViewData["Title"] = "Index";
}
<h2>Departments</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model=> model.Id)</th>
            <th>@Html.DisplayNameFor(model=> model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dpm in Model)
        {
            <tr>
                <td>@Html.DisplayFor( x => dpm.Id)</td>
                <td>@Html.DisplayFor( x => dpm.Name)</td>
                <td>
                    @Html.ActionLink("Edit","Edit", new { id=dpm.Id })
                    @Html.ActionLink("Details","Details", new { id=dpm.Id })
                    @Html.ActionLink("Delete","Delete", new { id=dpm.Id })
                </td>
            </tr>
        }
    </tbody>
</table>